#main-pane {
    -fx-background-color: rgba(36,36,36,0.95);
    -fx-padding: 8 0 0 0;
}

.title {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.default {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 12;
    -fx-text-alignment: center;
}

.smaller {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 11;
}

.align-right {
    -fx-text-alignment: right;
}

.loading {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 18;
    -fx-font-style: italic;
}

.info {
    -fx-background-color: rgb(18,18,18);
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-alignment: center;
}

#playerButton {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-font-size: 16;
    -fx-padding: 0;
}

#closeButton {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #b41b23;
}

#closeButton:hover {
    -fx-background-color: #7b1418;
}

#playerButton:hover {
    -fx-text-fill: #52abff;
    -fx-background-color: rgba(36,36,36,1);
}

#minButton {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #181818;
}

#minButton:hover {
    -fx-background-color: #363636;
}

.win{
    -fx-text-fill: #d2ffd2;
    -fx-font-size: 12;
}

.loss{
    -fx-text-fill: #ffd2d2;
    -fx-font-size: 12;
}

.separator {
    -fx-padding: 0 15 0 15;
    -fx-opacity: .25;
}

.light {
    -fx-text-fill: #9ea3b0;
}

.rank {
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.Level {
    -fx-text-fill: white;
}

.Iron {
    -fx-text-fill: #7c716f;
}

.Bronze {
    -fx-text-fill: #b77651;
}

.Silver {
    -fx-text-fill: #869da4;
}

.Gold {
    -fx-text-fill: #fabc44;
}

.Platinum {
    -fx-text-fill: #04b1a1;
}

.Diamond {
    -fx-text-fill: #048ab4;
}

.Master {
    -fx-text-fill: #f23ef8;
}

.Grandmaster {
    -fx-text-fill: #fd4d46;
}

.Challenger {
    -fx-text-fill: #fa576f;
}

.Blue {
    -fx-text-fill: #1f8ecd;
}

.Red {
    -fx-text-fill: #ee5a52;
}

.Teamless {
    -fx-text-fill: #ff598e;
}

.bold {
    -fx-font-weight: bold;
}

#infoBox {
    -fx-background-color: rgba(36,36,36,0.95);
}

#infoText {
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-padding: 15;
}